.center-form {
  max-width: 400px;
  margin: 0 auto;
}
.welcome-text {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'AGBengaly', arial;
}
.create-password {
  margin-top: -1.5rem;
  font-size: 15px;
  color: dimgrey;
}
