.title {
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
.caption {
  text-align: center;
  font-size: 20px;
}
.gift-wrap {
  text-align: center;
  width: 50%;
}
.gift {
  min-height: 400px;
  border: 1px dashed aquamarine;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  padding: 15px;
  max-width: 250px;
  &__title {
    font-size: 25px;
    padding: 10px;
  }
  &__image {
    min-height: 250px;
    display: flex;
    overflow: hidden;
    & > img {
      margin: auto;
      max-height: 250px;
      max-width: 250px;
      width: auto;
    }
  }
  &__gif {
    max-width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 200px;
    animation: fadein 2s;
    > img {
      max-width: 300px;
    }
  }
  &__price-wrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}

.gift:after {
  background: deepskyblue;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  border-radius: 15px;
  transition-duration: 0.4s;
}
.gift:hover:after {
  background-color: red;
  transition-duration: 0.4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.modal {
  overflow-y: auto;
  &__rub-icon {
    right: 0;
  }
  &-footer {
    justify-content: flex-start;
  }
  &-center-footer {
    justify-content: center;
  }
  &__form {
    &_input {
      width: 84% !important;
    }
    & > span {
      margin-left: 9px;
    }
    &_small-text {
      font-size: 11px;
      color: grey;
      margin-top: 10px;
    }
  }
  &__copy {
    color: grey;
    margin-left: 10px;
    cursor: pointer;
  }
  &__card-number {
    color: blue;
  }
  & .alert {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: -10px 10%;
    transition-duration: 0.4s;
  }
}
.accepted-text {
  color: blue;
}
.remove-choice {
  color: red;
  border-bottom: red 1px dashed;
  cursor: pointer;
}
.logout {
  margin: 8px;
  border-bottom: 1px dashed #000;
  text-decoration: none;
  width: fit-content;
  float: right;
  margin-right: 30px;
  cursor: pointer;
}

@media (max-aspect-ratio: 4/3) {
  .gift-wrap {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {

  .gift {
    max-width: initial;
  }
  .gift-wrap {
    margin: 0;
  }
  .gift__image {
    min-height: auto;
  }
  .md-form .prefix ~ label {
    font-size: 15px;
    margin-left: auto;
  }
  .md-form .prefix ~ input {
    margin-left: initial;
  }
  .modal-content .md-form .prefix ~ .inputVal {
    left: 0 !important;
    margin-left: auto;
  }
  .modal {
    &__card-number {
      &-wrapper {
        display: block;
      }

      &-instruction {
        font-size: 1rem;
      }
    }
    //&__form_small-text {
    //  display: none;
    //}
  }

}
@media only screen and (max-width: 800px) {
  .gift-wrap {
    padding-bottom: 20px;
  }
  .logout {
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
}

