/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'AGBengaly';
  font-style: normal;
  font-weight: 400;
  src: local('AGBengaly'), local('AGBengaly-Normal'),
  url('assets/agbengaly.woff') format('woff'),
  url('assets/agbengaly.ttf') format('truetype');
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.main {
  position: relative;
  text-align: center;
  font-family: 'AGBengaly', arial, serif;
}
.main:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/assets/3H6A5343.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
